@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("../../fonts/SEGA.woff") format("woff");
}

.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background: linear-gradient(271deg, #ff5edf 0%, #04c8de 100%);
  color: white;
  border: 5px solid black;
  border-radius: 20px;
  transform-style: preserve-3d;
}
.inner-element {
  font-family: "SEGA LOGO FONT";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
}

img {
  padding-top: 15px;
  width: 80px;
}
